.title {
  padding-left: 3rem;
  margin: 5rem;
  margin-left: 16px;
  font-weight: 600;
  font-size: 32px;
  margin-bottom: 0;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  margin: 0 auto;
  padding: 3rem;
}
