.container {
  font-size: 20px;
  display: flex;
  width: 90px;
  height: 30px;
  text-align: center;
  align-items: center;
  .button {
    text-align: center;
    padding: 0px;
    height: 30px;
    width: 30px;
    background-color: #dee2e6;
    &:active {
      color: #989a9c;
    }
    .span {
      position: relative;
      top: -2px;
    }
  }
  .meaning {
    width: 30px;
    height: 30px;
  }
}
