.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  position: sticky;
  top: 0;
  background-color: #ffffff;
  padding: 0.5rem 1rem;
  border-bottom: solid 2px rgba(84, 180, 106, 0.3);
  .logo {
    margin: 0;
    padding-left: 0.6rem;
    font-size: 22px;
    font-weight: 600;
    display: inline-block;
    border: solid 2px #f3f5fa;
    border-radius: 30px;
    background-color: #f7f7f7;
    .part {
      font-weight: 400;
      border: solid 2px #54b46a;
      border-radius: 20px;
      background-color: #54b46a;
      color: #ffffff;
      padding: 0.15rem 0.6rem;
    }
  }
}
