.button {
  font-weight: 600;
  width: 214px;
  height: 44px;
  padding: 0.5rem 2.5rem 0.5rem 2rem;
  .icon {
    position: relative;
    left: 10px;
    top: 4px;
  }
  .quantity {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background-color: #ffffff;
    color: #212529;
    border-radius: 50%;
  }
  &.card {
    color: #3b944e;
    background-color: #e7faeb;
    &:active {
      background-color: #d2f0d9;
    }
  }
  &.header {
    background-color: #54b46a;
    color: #ffffff;
    width: fit-content;
    &:active {
      background-color: #3b944e;
    }
  }
}
