.container {
  width: 320px;
  background: white;
  border-radius: 12px;
  padding: 20px;
  border: 1px solid #e9ecef;
  transition: box-shadow 0.2s ease;
}

.select {
  input {
    color: #0f0f104d;
  }
}
