.imageLoader {
  display: flex;
  width: 280px;
  height: 280px;
  margin: 0 auto;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
  background-size: 200% 100%;
  animation: loading 1.5s infinite;
}

.container {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 1rem;
  .row {
    width: 100%;
    display: flex;
    align-items: center;
  }
  .name {
    font-size: 18px;
    font-weight: 600;
    margin: 0;
    margin-right: auto;
    .weight {
      color: #868e96;
      font-size: 14px;
      margin-left: 10px;
      font-family: 'Open Sans'; //Установить шрифт!
      font-weight: 600;
    }
  }
  .price {
    font-size: 20px;
    font-weight: 600;
    margin: 0;
    margin-right: auto;
  }
  align-items: center;
}

@keyframes loading {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
