.empti {
  display: flex;
  flex-direction: column;
  margin: 1rem 4rem;

  .title {
    color: #868e96;
    margin-top: 1rem;
  }
}

.cart {
  width: 400px;
  .card {
    display: flex;
    align-items: center;
    flex-direction: row;

    .image {
      width: 64px;
      height: 64px;
    }

    .core {
      margin: 10px;
      padding-top: 5px;
      flex: 1;
      width: 100%;
      border-top: 2px solid #dee2e6;
      border-radius: 1px;
      .name {
        font-size: 18px;
        font-weight: 600;
        margin: 0;
        margin-bottom: 5px;

        .weight {
          color: #868e96;
          font-size: 14px;
          margin-left: 10px;
          font-family: 'Open Sans';
          font-weight: 600;
        }
      }

      .wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .price {
          margin: 0;
          font-weight: 600;
          font-size: 20px;
        }
      }
    }

    &:first-child .core {
      border-top: none;
      padding-top: 0;
      margin-top: 0;
    }
  }

  .price {
    margin: 0;
  }

  .total {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding-top: 10px;
    border-top: 2px solid #dee2e6;
    border-radius: 1px;
    font-weight: 600;
  }
}
